/* using postcss with the precss plugin to provide some nice syntactic sugar */

$black: #313131;
$center-width: 650px;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  line-height: 1.2;
  color: $black;
}

a,
a:visited {
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

button {
  border-radius: 4px;
  border-style: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: royalblue;
}

.layout {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  width: min(100%, $center-width);
  padding: 0.25rem;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  align-items: center;
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link-active {
  color: red;
}

.project-preview-links {
  display: flex;
  gap: 1rem;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.blog-index-item {
  display: flex;
  gap: 1rem;
}

.blog-index-item-date {
    color: dimgrey;
}

.blog-index-item-link {
  font-weight: bold;
}
